.banniere{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0px 0px 6px 7px black;
    margin-bottom: 20px;
}

.champs_de_recherche{
    height: 20px;
    align-self: center;
}

.icones_banniere{
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 25px;
    align-self: center;
}

.logoMobile{
    display: none;
}

.logoDesktop{
    width: 30vw;
}

.homeIcon,
.userIcon:hover{
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .banniere{
        height: 75px;
        background-color: black;
        align-items: center;
    }
    .logoMobile{
        max-height: 80%;
        filter: invert();
        display: inherit;
    }
    .logoDesktop{
        display: none;
    }
    .icones_banniere{
        width: 70px;
        font-size: 20px;
    }
}