.navMobile{
    display: none;
}

@media screen and (max-width: 425px) {
    .navMobile{
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
    }

    button{
        font-size: 25px;
        color: whitesmoke;
        border-radius: 10px;
        border-color: inherit;
        background-color: black;
    }
}